
h1{
    
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(0, 0, 0);
    width: 90%;
    margin-left: 40px;
    font-size: 55px;
    border-radius: 10px;
    font-weight: bolder;
    text-align: center;
    color: rgb(255, 254, 254);
}

form{
    
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

input{
    width: 90%;
    height: 50px;
    border-color: black;
    margin: 25px;
    border-radius: 7px;
    font-size: 30px;

}

::placeholder{
    color: #000;
}


button {
    font-family: 'Times New Roman', Times, serif;
    margin: 30px;
    width: 160px;
    height: 60px;
    background-color: rgb(5, 3, 3);
    color: white;
    font-size: large;
    border-radius: 7px;
    border-color: rgb(255, 255, 255);
    transition: background-color 0.3s ease; /* Adicionando efeito de transição */
}

button:hover {
    background-color: rgb(155, 32, 32); /* Alterando a cor de fundo quando o mouse está sobre o botão */
}



.formularioCliente {
    background-color: rgb(255, 255, 255);
    width: 1000px;
    height: 800px; /* Reduzindo a largura para centralizar melhor */
    margin: 0 auto; /* Centraliza horizontalmente */
    border-radius: 10px;
    padding: 20px; /* Adicionando espaço interno */
    margin-top: 30px;
}
