<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>

  <div class="formularioNovaRevisao">


    <h1>NOVA REVISÃO</h1>



    <form action="">


      <input type="text" placeholder="PLACA" maxlength="7" style="width: 85%;">


      <button>Buscar Veiculo</button>


      <div style=" width: 100%; display: flex; justify-content: space-evenly; ">


        <input type="text" placeholder="MARCA" style="width: 35%;">

        <input type="text" placeholder="MODELO" style="width: 35%;">

      </div>

      <div style=" display: flex; justify-content: space-evenly; ">

        <input type="text" placeholder="ANO" style="width: 35%; ">

        <input type="text" placeholder="COR" style="width: 35%; ">
      </div>


      <textarea placeholder="Observações" id="obs" name="obs"></textarea>

      <button class="botao">Iniciar Revisão</button>


    </form>




  </div>




</body>

</html>
