
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

<div class="formularioNovaRevisao">


<h1>NOVA REVISÃO</h1> 



<form action="">


<input type="text" placeholder="PLACA" maxlength="7"> 


<button>Buscar Veiculo</button>

<textarea placeholder="Observações" id="obs" name="obs"></textarea>


<input type="text" placeholder="MARCA" > 

<input type="text" placeholder="MODELO" > 

<input type="text" placeholder="ANO" > 

<input type="text" placeholder="COR" > 


<button class="botao">Iniciar Revisão</button>


</form>




</div>




</body>
</html>