body {
    display: flex;
    justify-content: center;
}

.formularioVeiculo {
    margin-top: 25px;
    display: flex;
    flex-direction: column; /* Adicionado */
    align-items: center; /* Adicionado */
    text-align: center;
    background-color: white;
    width: 70%;
    height: 750px;
    border-radius: 20px;
}

h1 {
    width: 80%;
    height: 90px;
    font-size: 80px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    border-radius: 10px;
    background-color: rgb(0, 0, 0);
}

form{
    width: 60%;
}

input{
    
    width: 100%;
    height: 40px;
    border-radius: 5px;
    margin-top: 20px;
    border-color: black;
}

select{
    display: flex;
    margin-top: 30px;
    border-radius: 5px;
    width: 100%;
    height: 40px;

}


button {
    font-family: 'Times New Roman', Times, serif;
    margin: 30px;
    width: 160px;
    height: 60px;
    background-color: rgb(5, 3, 3);
    color: white;
    font-size: large;
    border-radius: 7px;
    border-color: rgb(255, 255, 255);
    transition: background-color 0.3s ease; /* Adicionando efeito de transição */
    margin: 100px;
}

button:hover {
    background-color: rgb(155, 32, 32); /* Alterando a cor de fundo quando o mouse está sobre o botão */
}


