



.cadVeiculo{
    text-align: center;
}

.selecs{
    text-align: justify;
    font-size: 20px;
    font-weight: bold;
}

.geral{
    background-color: rgb(241, 241, 241);
    border-radius: 10px;
}


h1{
    font-size: 80px;
    color: red;
    font-weight: bold;
    background-color: rgb(185, 185, 185);
    border-radius: 10px;
}

form{
    margin: 30px;
}

input{
    border-radius: 5px;
    width: 70%;
    height: 50px;
    margin: 20px;
}

select{
    margin-left: 33%;
    border-radius: 5px;
    height: 50px;
    display: flex;
    text-align: center;
    width: 600px; /* Defina a largura desejada */
    padding: 10px;
}

label{
    margin-left: 33%;
}

button{
width: 150px;
height: 50px;
border-radius: 5px;
}