<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulário de Cadastro de Veiculos</title>
</head>
<body>
    <h1><b>Cadastro de Veiculos</b></h1>
    <form>
        <input placeholder="CARRO" type="text" id="nome" name="nome" required><br><br>


        <input placeholder="COR" id="endereco" name="endereco" required><br><br>


        <input placeholder="PLACA" type="tel" id="telefone" name="telefone" pattern="[0-9]{10,11}" required><br><br>


        <input placeholder="CHASSI" type="text" id="cpf" name="cpf" pattern="\d{3}\.\d{3}\.\d{3}-\d{2}" required><br><br>


        <input placeholder="MARCA" type="email" id="email" name="email" required><br><br>

        <button><b>Cadastrar</b></button>


    </form>
</body>
</html>
